@page
@model NguyenHoangSon_NET1707_A02.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Customer List";
}

<h1>Customer List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
<table class="table table-hover table-bordered">
    <thead class="bg-dark text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerBirthday)
            </td>
                <td>
                    @if (item.CustomerStatus == 1)
                    {
                        <span>Active</span>
                    }
                    else
                    {
                        <span>Deleted</span>
                    }
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
