@page
@model NguyenHoangSon_NET1707_A02.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Customer List";
}

<h1>Customer List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
<table class="table table-hover table-bordered">
    <thead class="bg-dark text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerBirthday)
            </td>
                <td>
                    @if (item.CustomerStatus == 1)
                    {
                        <span>Active</span>
                    }
                    else
                    {
                        <span>Deleted</span>
                    }
                </td>
                <td style="width: 20%">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <form class="btn-group" action="/Customers/Edit" method="get">
                            <input type="hidden" name="id" value="@item.CustomerId" />
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </form>
                        <form class="btn-group" action="/Customers/Details" method="get">
                            <input type="hidden" name="id" value="@item.CustomerId" />
                            <button type="submit" class="btn btn-success">Detail</button>
                        </form>
                        <form class="btn-group" action="/Customers/Delete" method="get">
                            <input type="hidden" name="id" value="@item.CustomerId" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        @if (Model.pageNumber <= 1)
        {
            <li class="page-item disabled"><a class="page-link" href="@Url.Action("Index", new { pageNumber = 1 })">First</a></li>
            <li class="page-item disabled"><a class="page-link" href="@Url.Action("Index", new { pageNumber = 1 })">Previous</a></li>

        }
        else
        {
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", new { pageNumber = 1 })">First</a></li>
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", new { pageNumber = (Model.pageNumber - 1) })">Previous</a></li>
        }

        @for (int i = 1; i <= Model.totalPages; i++)
        {
            @if (Model.pageNumber == i)
            {
                if (Model.pageNumber > 1)
                {
                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", new { pageNumber = i-1 })">@(i - 1)</a></li>
                }
                <li class="page-item active" aria-current="page"><a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a></li>
                @if (Model.pageNumber < Model.totalPages)
                {
                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", new { pageNumber = i+1 })">@(i + 1)</a></li>
                }
                break;
            }

        }
        @if ((Model.pageNumber) >= Model.totalPages)
        {
            <li class="page-item disabled"><a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.pageNumber })">Next</a></li>
            <li class="page-item disabled"><a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.totalPages })">Last</a></li>

        }
        else
        {
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", new { pageNumber = (Model.pageNumber + 1) })">Next</a></li>
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.totalPages })">Last</a></li>
        }
    </ul>
</nav>