@page
@model NguyenHoangSon_NET1707_A02.Pages.BookingReservations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookingReservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingReservation.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingReservation.BookingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingReservation.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingReservation.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingReservation.BookingStatus)
        </dt>
        <dd class="col-sm-10">
            @if (Model.BookingReservation.BookingStatus == 1)
            {
                <span>Active</span>
            }
            else
            {
                <span>Deleted</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingReservation.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingReservation.Customer.CustomerFullName)
        </dd>
    </dl>
    <br />

    <h5>BookingDetail List</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookingDetail[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingDetail[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingDetail[0].ActualPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingDetail[0].Room.RoomNumber)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BookingDetail)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.RoomNumber)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @if (HttpContext.Session.GetString("Role") != null)
    {
        <a asp-page="./Edit" asp-route-id="@Model.BookingReservation.BookingReservationId">Edit</a>
        <a asp-page="./Index">Back to List</a>
    }

    <a href="/bookingreservations/index">Back to List</a>
</div>
