@page
@model NguyenHoangSon_NET1707_A02.Pages.RoomInformations.IndexModel

@{
    ViewData["Title"] = "Room List";
}

<h1>Room List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomDetailDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomMaxCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomPricePerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RoomInformation)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomDetailDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomMaxCapacity)
                </td>
                <td>
                    @if (item.RoomStatus == 1)
                    {
                        <span>Active</span>
                    }
                    else
                    {
                        <span>Deleted</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomPricePerDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType.RoomTypeName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.RoomId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.RoomId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.RoomId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
