@page
@model NguyenHoangSon_NET1707_A02.Pages.Rooms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="container my-5">
        @* <header class="mb-4">
        <h3>Room List</h3>
        </header> *@

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row height d-flex justify-content-center align-items-center">

            <div class="col">

                <div class="search">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6 .1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" /></svg>
                    <input type="text" class="form-control" placeholder="Where do you want to go?">
                    <button class="btn btn-primary">Search</button>
                </div>

            </div>

        </div>




        <h3>Nearby hotels you can book last minute</h3>
        <p>Find great hotel deals for tonight or your next trip</p>


        <div class="row">

            @foreach (var item in Model.RoomInformation)
            {

                <div class="col-lg-6 col-md-9 col-sm-9">

                    <div class="card">
                        <div class="card-body">
                            <div class="text-section">
                                <a asp-page="/roominformations/details" asp-route-id="@item.RoomId" class="card-title fw-bold">#@Html.DisplayFor(modelItem => item.RoomNumber)</a>
                                <p style="card-text" title="@Html.DisplayFor(modelItem => item.RoomDetailDescription)">
                                    @Html.DisplayFor(modelItem => item.RoomDetailDescription)
                                </p>
                            </div>
                            <div class="cta-section">

                                <div class="cta-section-data">
                                    <p>From</p>
                                    <h4>VND @Html.DisplayFor(modelItem => item.RoomPricePerDay)</h4>
                                    <p>For tonight</p>
                                </div>
                                <div class="cta-section-btn-cart">
                                    <form method="post">
                                        <input type="hidden" name="id" value="@item.RoomId" />
                                        <input type="submit" value="Add to cart" class="btn btn-primary btn-sm" />
                                    </form>
                                </div>

                                @* <form asp-page="/roominformations/details" method="get">
                            <input type="hidden" name="id" value="@item.RoomId" />
                            <input type="submit" value="Details" class="btn btn-warning btn-sm" />
                            </form> *@
                            </div>
                        </div>
                    </div>


                </div>
            }
        </div>

    </div>
</section>